<!DOCTYPE html>
<html>

<head>
    <title>Music VR - Urban Preset</title>
    <script src="https://aframe.io/releases/1.4.0/aframe.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/components/urban-environment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/procedural-building.js') }}"></script>
    <!-- Audio Playback Controller -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/audioPlaybackController.css') }}">
    <script src="{{ url_for('static', filename='js/components/audioPlaybackController.js') }}"></script>
</head>

<body>
    <a-scene>
        <!-- Urban Environment Component -->
        <a-entity urban-environment></a-entity>

        <!-- Single Procedural Building for Preview -->
        <a-entity procedural-building position="0 0 0"></a-entity>

        <!-- Player Rig -->
        <a-entity id="rig" position="0 1.6 30">
            <a-entity camera look-controls wasd-controls position="0 0 0"></a-entity>
        </a-entity>

    </a-scene>
</body>

</html>