<!DOCTYPE html>
<html>

<head>
  <script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
  <script src="{{ url_for('static', filename='js/components/ship-y-controller.js') }}"></script>
</head>

<body>
  <a-scene>
    <a-assets>
      <img id="waterNormal"
        src="https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/water/Water_1_M_Normal.jpg">
    </a-assets>

    <a-light type="directional" position="-1 10 -5" intensity="1" target="#ocean"></a-light>
    <a-light type="ambient" color="#222"></a-light>

    <a-plane id="ocean" position="0 -20 0" rotation="-90 0 0" width="1000" height="1000" color="#469493" material="src: #waterNormal;
              repeat: 100 100;
              roughness: 0.1;
              metalness: 0.5;
              normalMap: #waterNormal;
              normalScale: 1 1;"
      animation="property: material.normalTextureOffset; from: 0 0; to: 1 0; loop: true; dur: 8000; easing: linear"
      animation__wobble="property: position; dir: alternate; dur: 4000; easing: easeInOutSine; loop: true; to: 0 -18.5 0; from: 0 -25 0">
    </a-plane>

    <!-- Ship Y -->
    <!-- Ship Y -->
    <!-- Use standard position attribute to move the ship. Y = -1 sinks it slightly. -->
    <a-entity ship-y-controller position="0 -20 0" scale="40 40 40"></a-entity>

    <a-scene fog="type: exponential; color: #87CEEB; density: 0.05;"></a-scene>
  </a-scene>
</body>

</html>